<footer
  class="
    h-[5rem]
    transition-all
    duration-300
    w-full"
>
  <div class="w-[90%] lg:w-[1000px] xl:w-[1300px] m-auto flex items-center justify-between flex-col md:flex-row">
    <div class="text-black-100 opacity-75 text-black-100 mb-2 md:mb-0">
      <p class="text-center md:text-left mb-2 md:mb-0">
        ©Prodauction, Copyright - 2023
      </p>
      <a
        href="mailto:emeka.s.chinedu@gmail.com"
        class="text-md text:black-100 hover:text-purple-300 underline transition-all duration-300"
      >
        emeka.s.chinedu@gmail.com
      </a>
    </div>

    <a
      class="text-purple-300 hover:text-purple-400 transition-all duration-300 underline"
      href="https://dryicons.com/free-icons"
      target="_blank"
    >
      Icons by Dryicons
    </a>
  </div>
</footer>
