<header
  data-controller="home"
  class="h-[6rem] fixed top-0 z-[1000] transition-all duration-300 w-full
        bg-gradient-to-r from-purple-300 via-purple-100 to-purple-500"
>
  <nav
    class="w-[90%] lg:w-[1000px] xl:w-[1300px] m-auto flex justify-between items-center py-8"
  >
    <a
      to="/"
      class="font-bold text-lg md:text-2xl text-white-100 tracking-widest font-manrope cursor-pointer hover:underline"
    >
      ProdAuction
    </a>

    <ul>
      <li class="hidden md:inline">
        <a
          href="/"
          class="text-sm md:text-md text-blue-100 hover:text-purple-100 font-bold
            transition-all duration-500 bg-white-200 py-2 px-8 rounded hover:bg-white-200"
        >
          Login
        </a>
      </li>

      <li class="hidden md:inline">
        <a
          href="/hhh"
          class="ml-2 lg:ml-3 xl:ml-8 text-sm md:text-md text-white-100 hover:text-white-200 font-bold
            transition-all duration-500 hover:underline"
        >
          Sign Up
        </a>
      </li>

      <li data-action='click->home#showMobileMenu' class="inline md:hidden">
        <%= image_tag('hamburger.svg', :class => "h-6 cursor-pointer") %>
      </li>
    </ul>
  </nav>

  <nav
    data-home-target='menu'
    class="md:hidden fixed top-0 -right-24 z-[1100] h-screen w-[400px]
    bg-gradient-to-r from-purple-300 via-purple-100 to-purple-500 p-8 translate-x-full duration-700"
  >
    <button data-action='click->home#hideMobileMenu'>
      <%= image_tag('close.svg', :class => "h-6 cursor-pointer") %>
    </button>

    <ul class="my-12">
      <li class="block flex items-center justify-left gap-4 mb-6">
        <%= image_tag('signup.svg', :class => "h-6 cursor-pointer") %>
        <a
          href="/hhh"
          class="text-md text-white-100 hover:text-white-200 font-bold
            transition-all duration-500 hover:underline"
        >
          Login
        </a>
      </li>

      <li class="block flex items-center justify-left gap-4">
        <%= image_tag('login.svg', :class => "h-6 cursor-pointer") %>
        <a
          href="/hhh"
          class="text-md text-white-100 hover:text-white-200 font-bold
            transition-all duration-500 hover:underline"
        >
          Sign Up
        </a>
      </li>
    </ul>
  </nav>
</header>
